/*
TODO: transitions, skills size n paddings, projects h2 back to reg, proper descs, contact me, footer icons,scroll to top, name clickdo something
/*************FONTS, SIZES, COLOURS*****************/
:root {
  /* Fonts */
  --poppins: "Poppins", sans-serif;

  /* Font-Sizes */
  --h1: clamp(3.2rem, 2vw + 1rem, 3.6rem);
  --h2: clamp(2.6rem, 2vw + 1rem, 3rem);
  --h3: clamp(2.2rem, 2vw + 1rem, 2.6rem);
  --h4: clamp(1.8rem, 2vw + 1rem, 2.2rem);
  --p: clamp(1.6rem, 2vw + 1rem, 1.7rem);
  --span: #7fc3eb;

  /* Colours */
  /*?Light Mode*/
  --white-bg-text: #181728;
  --white-bg-bg: #e6e6f0;
  --white-bg-primary: #7fc3eb;
  --white-bg-off-primary: #dfe3f0;
  --white-bg-secondary: #d29abf;
  --white-bg-accent: #aca9ef;
  --white-bg-off-accent: #e1d6e6;

  /*?Dark Mode*/
  --dark-bg-text: #181728;
  --dark-bg-bg: #e6e6f0;
  --dark-bg-primary: #7fc3eb;
  --dark-bg-secondary: #d29abf;
  --dark-bg-accent: #aca9ef;
}

/************REPEATED STYLES****************/
/* Selectors */
* {
  font-family: var(--poppins);
  box-sizing: border-box;
  margin: 0;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--white-bg-bg);
  color: var(--dark-bg-text);
  margin: 0 3.5rem;
  overflow-x: hidden;
}

section {
  margin-top: 10rem;
  margin-bottom: 20rem;
}

a {
  color: var(--white-bg-text);
  text-decoration: none;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  font-size: var(--p);
  line-height: 2.5rem;
}

img {
  width: 100%;
  border-radius: 10px;
}

img:hover,
svg:hover {
  opacity: 0.5;
}

/* Classes */
.span {
  color: var(--span);
}

/* Classes - Divs */
.button {
  border: none;
  background: var(--white-bg-primary);
  border-radius: 10px;
  padding: 1.5rem 2rem;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 1.5rem;
}

.button-2 {
  border: none;
  background: #dfcee1;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  transition: 0.3s;
  cursor: pointer;
}

.card-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

.card-container > * {
  flex: 1;
  min-width: 20rem;
}

.card {
  border-radius: 10px;
  padding: 2rem 2.8rem 4rem 2.8rem;
  text-align: center;
}

.off-primary {
  background: #dfe3f0;
}

.off-accent {
  background: #e1d6e6;
}

/* Animations */
.raise-primary:hover,
.raise-primary:focus {
  background: #b0dbf4;
  box-shadow: 0 0.5em 0.5em -0.4em var(--white-bg-primary);
  transform: translateY(-0.25em);
}

.raise-off-primary:hover,
.raise-off-primary:focus {
  background: var(--white-bg-off-primary);
  box-shadow: 0 0.5em 0.5em -0.4em var(--white-bg-primary);
  transform: translateY(-0.25em);
}

.raise-accent:hover,
.raise-accent:focus {
  background: #e2d8e3;
  box-shadow: 0 0.5em 0.5em -0.4em var(--white-bg-accent);
  transform: translateY(-0.25em);
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */
header {
  padding-top: 3rem;
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-container a {
  text-decoration: none;
  color: var(--white-bg-text);
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: var(--white-bg-primary);
}

.menu-container input {
  display: block;
  width: 3.5rem;
  height: 2.5rem;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 3.3rem;
  height: 0.4rem;
  margin-bottom: 0.5rem;
  position: relative;
  background: var(--white-bg-primary);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 0.4rem 0rem;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0.3rem,-0.1rem);
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-0.5rem,1.1rem);
}

.logo {
  font-weight: 700;
  font-size: var(--h1);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 1rem 0;
  font-size: 2.2rem;
}


/* Home */
.home .card img:hover {
  opacity: 1.0;
}

/* About Me */
.about .card h2 {
  padding: 0.8rem 0;
}

.about .card p {
  padding: 2rem 0;
  width: clamp(45ch, 30%, 75ch);
  text-align: left;
  margin: 0 auto;
}

/* Skills */
.about-2 {
  width: 60rem;
  margin: 0 auto;
}

.about .card {
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.about-2 svg {
  width: 5rem;
  height: 5rem;
  fill: var(--white-bg-off-primary);
  color: #5fb7ea;
}

.about-2 li {
  list-style-type: none;
  padding: 2rem 3rem;
}

.about-2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Projects */
.projects .card {
  box-shadow: rgba(161, 27, 148, 0.35) 0rem 0.5rem 1.5rem;
}

.projects .card h3 {
  font-weight: 500;
  padding: 2rem 1rem;
}

.projects .card .img {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.projects a {
  display: inline-block;
  padding: 0 1.5rem 6rem 0;
}

.projects .card p {
  text-align: left;
}
.projects p:first-of-type {
  padding-bottom: 1.5rem;
}

/* Blog */
.projects h1,
.blog h1 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
}

.blog .img {
  margin-top: 1rem;
  width: 70%;
  margin: 0 auto;
}

.blog .card p {
  width: clamp(45ch, 80%, 75ch);
  text-align: left;
  margin: 0 auto;
}

.blog .card h3 {
  padding: 2rem 0;
}

.blog h3,
.blog p {
  padding: 1.5rem;
}

/* Contact */
.contact {
  margin: 0;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-form {
  background-color: #f2e4f7;
  /* Soft pinkish color for the form */
  padding: 5rem 2rem;
  border-radius: 8px;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  max-width: 50rem;
  width: 100%;
}

.contact-form h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  padding-top: 1.8rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #c8a2c8;
  /* Slight purple border on focus */
}

textarea {
  resize: none;
}


/* Footer */
.footer {
  margin: 0;
}

.footer h4:first-of-type {
  padding-top: 1.5rem;
}

.footer h4+h4 {
  padding: 0.5rem 0 1rem 0;
  font-weight: 400;
  color:#777;
}

.footer img {
  width: 5rem;
  height: 5rem;
}

.footer ul {
  padding: 2rem 0;
}

.footer li {
  display: inline;
  list-style-type: none;
  padding-right: 1rem;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*! GENERAL STYLES for some media queries*/
/******* General styles for all mobile styles *******/
@media only screen and (max-width: 767px) { 
  body {
    margin: 0;
  }

  .card {
    margin: 0 2.5rem;
  }

  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 30rem;
    right: -30rem;
    top: 0;
    margin: -2rem;
    padding: 7.5rem 5rem 5rem;
    background: var(--white-bg-bg);
    border: 3px solid #bbd8f8;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .logo {
    display: none;
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/*! FOR NAV OF LARGER DEVICES, DONT TOUCH! **/
@media only screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: var(--white-bg-text);
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 2rem;
  }
}

/*! Actual media queries start here */
/****** Small devices (phones 767px and down) ******/
@media only screen and (max-width: 767px) {

  /** General Styles **/
  section {
    width: 100%
  }

  .card {
    padding: 2rem 2rem 4rem 2rem;
  }

  /* Nav, changing the width */
  .menu {
    width: 34rem;
    right: -34rem;
  }

  /* Align clamped text to width of screen */
  .about .card p,
  .about-2,
  .blog .card p {
    width: 100%;
  }


  /* Switch centred text to left */
  .projects p,
  .blog .card p, .about .card p {
    text-align: start;
  }

  /** Skills **/
  .about-2 .card {
    padding: 0;
  }

  .about-2 svg {
    width: 4.5rem;
    height: 4.5rem;
  }

  .about-2 li {
    list-style-type: none;
    padding-left: 0;
  }

  .about-2 ul {
    display: flex;
    flex-wrap: wrap;
  }

  /** Projects **/
  .projects .card .img {
    padding: 0;
    width: 107%;
  }

  /** Blog **/
  .blog .img {
    margin-top: 0;
    width: 100%;
  }

  /** Contact **/
  .contact .card-container, .contact .card {
    padding: 0;
  }

  .contact-form {
    padding: 5rem 0rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%; 
    padding: 0.75rem 1rem;
  }

  /** Footer **/
  .footer img {
    width: 6rem;
    height: 6rem;
  }
}


/* TODO: -small devices, medium devices, */
/* todo: then for large and extra devices, check if there are any minor adjustments that we want to add */
/* !fix nav of tablet size, make sure evrything wprks for desktop size */


/* Medium devices (portrait tablets and large phones, 60em and up) */
@media (min-width: 768px) and (max-width: 1080px) {

  /***** GENERAL STYLES *****/
  .card-container {
    flex-direction: column;
  }
  
  /***** Home *****/
  /* Im Jolyssa section */
  .home #firstCardHome {
    width: 90%;
    height: 100%;
    /* border: 1px solid red; */
    padding: 50% 0;
  }

  .home #firstCardHome h2 {
    font-size: 6.5rem;
  }

  .home #firstCardHome h2 + h2{
    padding-bottom: 1.5rem;
  }

  /* adjusting button size */
  .home #firstCardHome .button {
    font-size: 3rem;
    padding: 3rem 4rem;
  }

  /***** About Me *****/


  /***** Projects *****/


  /***** Blog *****/


  /***** Contact *****/
  .contact .card-container {
    flex-direction: row;
  }

  /***** Footer *****/

}

/* Medium devices (landscape tablets, larger tablets, 76.8em and up) */
@media only screen and (min-width: 76.8em) {
  /* body {
    margin: 0 30rem;
   } */
}


/* Extra large devices (large laptops and desktops, 120rem and up) */
/* @media only screen and (min-width: 120rem) {
  ...
} */